# Google Cloud Storage
google-cloud-storage

# Statistical modeling
statsmodels

# Machine learning libraries
scikit-learn
xgboost
catboost
torch

# Hyperparameter optimization
optuna

# Visualization
matplotlib
seaborn
plotly

# Jupyter Notebooks for development
jupyterlab

# Testing
pytest

# Miscellaneous
numpy
scipy

# API development (FastAPI)
fastapi
uvicorn

# HTTP requests
requests

# Web scraping
beautifulsoup4
selenium
webdriver-manager